.pocket {
  width: 80px;
}
.lock {
  width: 80px;
}
.trap {
  width: 80px;
}
.silent {
  width: 80px;
}
.shadow {
  width: 80px;
}
.hear {
  width: 80px;
}
.climb {
  width: 80px;
}
.read {
  width: 80px;
}